################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GPdotNET/GPdotNET.Util/obj
/GPdotNET/GPdotNET.Util/bin
/GPdotNET/GPdotNET.Tool.Common/obj
/GPdotNET/GPdotNET.Tool.Common/bin
/GPdotNET/GPdotNET.Engine/bin
/GPdotNET/GPdotNET.Engine/obj
/GPdotNET/GPdotNET.Core/obj
/GPdotNET/GPdotNET.Core/bin
/GPdotNET/GPdotNET.App/obj
/GPdotNET/GPdotNET.App/bin
/GPdotNET/.vs/
/.vs
/GPdotNET.App/bin/Debug
/GPdotNET.App/obj/Debug
/GPdotNET.Core/bin/Debug
/GPdotNET.Core/obj/Debug
/GPdotNET.Engine/bin/Debug
/GPdotNET.Engine/obj/Debug
/GPdotNET.Tool.Common/bin/Debug
/GPdotNET.Tool.Common/obj/Debug
/GPdotNET.Util/bin/Debug
/GPdotNET.Util/obj/Debug
